/*Commenting method in CSS is the same for the html(ctrl+shift+forward slash)*/
/*CSS Selector*/


/*CSS STYLING SPECIFICITY
	inling styling has the highest priority over the internal and external
	styling
	exeternal styling has the lowest priority over inline and internal styling
	
	CSS Styling Prioritixation
	inline>internal>external

	!Important - property in CSS to override the CSS priority rule
*/
/*h1{
	color: red !important;
	background-color: pink;
}*/
/*
* - universal selector:  it is used to target all elements inside the html tag;

	font family - changes the style of the font
	monospace - the famil from which the browser will try to search for a font
	once the Courier new font is not available
*/
*{
	font-family: "Courier New", monospace;
	font-size: 20px;
}


/*ID selector*/
/*id selector - commonly used to provide unique styling for an element*/
/*#IDname*/
#zuitt-motto{
	letter-spacing: 5px;
}


.offering-item{
	text-transform: uppercase;
}
/*
	will only work if the element has the exact attribute is specified in 
	the selector

	SYNTAX: ;
		tag[attribute]
*/
input[required]{

	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

/*Combination selectors*/
/*these selectors require two selectors but the target us the latter/ second
selector*/

/*ADJACENUT SIBLING SELECTOR*/
/*use to target the selector that is next to the first selecor*/

h2 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*descendant selector*/
/*used to select elements(secondSelector) that are inside othrer elemenst
(firsSelector)*/

/*SYNTAX
firstSelector*/

#bootcamp-learning-list li {
	color: #075966;
}

/*general sibling selector
	used to target the preceeding siblings(secondSelector) if the first selector*/	

h2 ~ a {
	text-decoration: none;
}

/*child selector*/
/*can be used to select the child of the first selectr=or, in this case 
child of the selector before it*/

/*SYNTAX
firsSelector>secondSelector*/
	
body>section>form>label{
	color: rgb(0,0,128);
}


body{
	background-color: skyblue;
}

html{
	scroll-behavior: smooth;
}

nav{
	background-color: white;
}

a:hover{
	background-color: #b3d6de
}

div{
	display: inline-block;
}

/*landing section*/
section{
	/*vh-viewport height*/
	height: 100vh: ;
	text-align: center;

}

h2{
	/*rem-root element measurement, it multiplies the value attached
	to it to the root element(html). Default value would be 16px*/
	font-size: 1.5 rem;
}

ol{
	list-style-type: none;

}

/*register section*/
/*
	position - property that changes the position of element based
	on the certain criteria
	left - used along the position property to add a certain measurement
	of the element
		directions(l,r,t,b) - it is recommended to use only 2 of the directions
		%  as the value would be based on the element
*/
form {
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height:250 px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button{
	background-color: #cf0053;
	color: white;
	borfer: 0;
	border-radius: 15px;
}