#yellow {
	color: yellow;
}

*{
	font-famliy: "Apercu", monospace;
	font-size: 15px;
}

#intro{
	font-size: 50px;
}

#things-to-learn{
	text-transform: uppercase;
}
.languages{
	background: palegreen;
}

li[name]{
	border-style: solid;
	border-color: skyblue;
	border-width: 2px;
}

h3 + ul{
	list-style: none;
}

#other-things-to-learn img{
	height: 100px;
	width: 100px;
	border-radius: 500px

}

h3 ~ footer{
	text-align: center;
}

body>ul>li{
	letter-spacing: 5px;
}